.test {
  outline: 2px dashed;
  outline-color: invert;
}

.test-selected {
  outline: 5px dashed orange !important;
  position: relative;
}

img.test-selected {
  border: 5px dashed orange !important;
  outline: none !important;
}

// .overlay {
//   background-color: lightblue;
//   bottom: 0;
//   left: 0;
//   position: fixed;
//   right: 0;
//   top: 0;
// }