.test {
  outline: 2px dashed;
  outline-color: invert;
}

.test-selected {
  outline: 5px dashed orange !important;
  position: relative;
}

img.test-selected {
  border: 5px dashed orange !important;
  outline: none !important;
}
