* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 3px 5px 3px;
}

li:nth-child(odd) .row {
  background: #F5F5F5;
}

.selected {
  outline: 1px solid lightskyblue;
}

.filter {
  width: 200px;
}